:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #1abc9c;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #ac925e;
  --secondary: #203041;
  --yecondary: #233349;
  --xecondary: #343148;
  --ternary: #4b568a;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --table-border-color: #ffffff;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "SB Body", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: normal;
}

.whitetext {
    color:white;
}

.yellowtext {
    color:#ffd000;
}
.graytext {
    color:lightgray;
}
.darkgraytext {
    color:darkgray;
}

.mymasthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 3rem;
}
.mymasthead .mymasthead-heading {
  font-size: 2.25rem;
  line-height: 2.25rem;
  padding-bottom: 0.5rem;
}
.mypage-section {
  padding: 2rem 0;
}
.mypage-section .mypage-section-heading {
  font-size: 1.75rem;
  line-height: 1.75rem;
  padding-bottom: 1rem;
}

.mya {
    /*color:#ffd000;*/
    /*color:#332233; /*meets AAA accessibility contrast*/
    color:var(--secondary); /*meets AA accessibility contrast, matches color scheme*/

}

.myp {
  text-align:left;
  white-space:normal;
  /*text-color:#1c1c1c;*//*better for accessibility contrast*/
  /*color:#1c1c1c;*//*better for accessibility contrast*/

}

code {
  font-size: 87.5%;
  font-weight: bold;
  color: #eeeeee;
  word-wrap: break-word;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

/* MWP */
.portfolio .bordered-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
/* MWP */
.portfolio .bordered-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(194, 175, 137, 0.9);
}

/* MWP */
.portfolio .bordered-item .portfolio-item-caption:hover {
  opacity: 1;
}
/* MWP */
.portfolio .bordered-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}
/* MWP */
.portfolio .bordered-item .portfolio-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(194, 175, 137, 0.9);
}

.tablecaption {
  caption-side: top;
  text-align: center !important;
  color: var(--table-border-color);
  text-decoration: underline;
}
.mytable {
  color: #000000;
}
.mytable th,
.mytable td {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 0.125rem solid #dee2e6;
}
.mytable a {
    color:var(--secondary);
}
.mytable-bordered {
    border: 3px solid var(--table-border-color);
}
